export( "frontier" )
export( "front41Est" )
export( "front41ReadOutput" )
export( "front41WriteInput" )
S3method( "coef", "frontier" )
S3method( "print", "frontier" )
S3method( "summary", "frontier" )
S3method( "coef", "summary.frontier" )
S3method( "print", "summary.frontier" )
S3method( "vcov", "frontier" )
S3method( "coef", "front41Output" )
S3method( "print", "front41Output" )
S3method( "summary", "front41Output" )
S3method( "vcov", "front41Output" )
S3method( "coef", "summary.front41Output" )
S3method( "print", "summary.front41Output" )
useDynLib(frontier)