export( "efficiencies" )
export( "frontier" )
export( "frontierQuad" )
export( "frontierTranslogRay" )
export( "front41Est" )
export( "front41ReadOutput" )
export( "front41WriteInput" )
export( "sfa" )
S3method( "efficiencies", "default" )
S3method( "efficiencies", "frontier" )
S3method( "coef", "frontier" )
S3method( "logLik", "frontier" )
S3method( "lrtest", "frontier" )
S3method( "nobs", "frontier" )
S3method( "print", "frontier" )
S3method( "residuals", "frontier" )
S3method( "summary", "frontier" )
S3method( "coef", "summary.frontier" )
S3method( "print", "summary.frontier" )
S3method( "vcov", "frontier" )
export( "elas.frontierQuad" )
S3method( "coef", "front41Output" )
S3method( "print", "front41Output" )
S3method( "summary", "front41Output" )
S3method( "vcov", "front41Output" )
S3method( "coef", "summary.front41Output" )
S3method( "print", "summary.front41Output" )
useDynLib(frontier)
importFrom( moments, skewness )
importFrom( "lmtest", "lrtest" )
importFrom( "stats", "nobs" )
