export( "frontier" )
S3method( "coef", "frontier" )
S3method( "print", "frontier" )
S3method( "summary", "frontier" )
S3method( "coef", "summary.frontier" )
S3method( "print", "summary.frontier" )
S3method( "vcov", "frontier" )
useDynLib(frontier)